PORT=3002
NASA_API_KEY=your_nasa_key_here
N2YO_API_KEY=your_n2yo_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
ADMIN_KEY=your_secret_upload_password
DEFAULT_LAT=52.23
DEFAULT_LON=21.01
